@tailwind base;
@tailwind components;
@tailwind utilities;

 html {
  height: 100%;
} 

body{
  height: 100%;
  background-image: url('./assets/svg/topography.svg');
  /* //background-color: white; */
  -webkit-tap-highlight-color: transparent;
  
}

@layer components {

  .test-div{
  }

  .test-title{
  
  }

  .test-container {
    @apply p-2;
    @apply grid;
    
    @apply grid-cols-12;
    @apply col-span-12;


    /* @apply md:bg-green-700; //testing layout
    @apply lg:bg-violet-800;
    @apply xl:bg-blue-600; */

    @apply md:col-span-9;
    @apply md:col-start-3;

    @apply lg:col-span-9;
    @apply lg:col-start-3;




    @apply xl:col-span-9;
    @apply xl:col-start-3;

    @apply gap-4;
    @apply text-center;

    @apply shadow-xl;
    @apply border-2;
    @apply border-primary/50;
    @apply dark:border-dark-quaternary/50;
    @apply bg-primary/10;
    @apply dark:bg-dark-primary/70;
    @apply dark:text-quaternary;
    @apply rounded-md;

    @apply relative;
  }

  .test-card{

    @apply flex;
    @apply flex-col;
    @apply justify-center;
    
    @apply h-[350px];
    @apply col-span-12;

    /* @apply md:bg-red-500; // testing layout
    @apply lg:bg-orange-700;
    @apply xl:bg-yellow-500; */

    @apply md:col-span-8;
    @apply md:col-start-3;

    @apply lg:col-span-6;
    
    @apply xl:col-span-4;
    @apply p-4;

    @apply border-primary/50;
    @apply dark:border-dark-quaternary/50;
    @apply dark:bg-dark-ternary/50;
    @apply border-2;
    @apply bg-quaternary;
    @apply dark:bg-dark-primary;
    @apply dark:text-dark-ternary;
    @apply font-bold;
    @apply rounded-md;

  }

  .test-card > p {
    @apply text-2xl;
    @apply font-normal;
  }

  .test-chart{
    
  }

  .link{
    @apply text-primary;
    @apply bg-quaternary;
    @apply hover:bg-ternary;
    @apply active:bg-primary;
    @apply active:text-quinary;

    @apply dark:text-dark-quaternary;
    @apply dark:bg-dark-primary;
    @apply dark:hover:bg-dark-ternary;
    @apply dark:hover:text-dark-primary;
    @apply dark:active:bg-dark-quaternary;
    @apply dark:active:text-dark-primary;
  }

  .link-sidebar {
    @apply text-quaternary;
    @apply bg-primary;
    @apply hover:bg-ternary/20;
    @apply active:bg-quaternary;
    @apply active:text-primary;

    @apply dark:text-dark-quaternary;
    @apply dark:bg-dark-primary;
    @apply dark:hover:bg-dark-ternary;
    @apply dark:hover:text-dark-primary;
    @apply dark:active:bg-dark-quaternary;
    @apply dark:active:text-dark-primary;
  }
  

}